<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WALL</title>
</head>
<body>
    <h1>Coding Dojo Wall</h1>

<form action="/logout" method='post'>
<button>LOGOUT</button>
</form>

 <h1>POST A MESSAGE</h1>
    <form action='/message' method='POST'>       
        <input type="message" name="message" id="message"><br>
        <input type="submit" value="Add">
        <br><br>

<h1>MESSAGES</h1>

{% for message in all_messages: %}
   <p>ID {{ message['id'] }}</p>
   <p>First Name: {{ friend['first_name'] }}</p>
   <p>Last Name: {{ friend['last_name'] }}</p>
   <p>Message: {{ friend['message'] }}</p>
   <a href="/remove_message/{{ message['id']}}">DELETE</a>
   <hr>
{% endfor %}


<h1>POST A COMMENT</h1>
    <form action='/' method='POST'>       
        <input type="comment" name="comment" id="comment"><br>
        <input type="submit" value="Add">
        <br><br>
<h1>COMMENTS</h1>

{% for comment in all_comments: %}
   <p>ID {{ comment['id'] }}</p>
   <p>First Name: {{ friend['first_name'] }}</p>
   <p>Last Name: {{ friend['last_name'] }}</p>
   <p>Message: {{ friend['message'] }}</p>
   <a href="/remove_message/{{ message['id']}}">DELETE</a>
   <hr>
{% endfor %}

</body>
</html>